﻿@charset "UTF-8";
/* CSS Document */

/* Reset */

body, div, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ul, ol, li, 
brockquote, pre, table, caption, th, td, address, 
form, fieldset, legend, object {
  margin: 0;
  padding: 0;
}

h5, h6, pre, table, code, kbd, samp, acronym, input, textarea {
  font-size: 100%;
}

a, ins {
  text-decoration: none;
}

address, em, cite, dfn, var {
  font-style: normal;
}

input, textarea {
  font-family: sans-serif;
  font-weight: normal;
}

img {
	vertical-align: bottom;
}

a img {
  border: none;
}
.clearfix:after {
  content: ".";  /* 新しい要素を作る */
  display: block;  /* ブロックレベル要素に */
  clear: both;
  height: 0;
  visibility: hidden;
  font-size: 0.1em;
}

.clearfix {
  min-height: 1px;
}

* html .clearfix {
  height: 1px;
  /*¥*//*/
  height: auto;
  overflow: hidden;
  /**/
}body {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 13px;
	line-height: 150%;
	font-weight: bold;
	color: #333;
}
.wrapper {
	clear: both;
	height: 1080px;
	width: 1920px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../img/ib_bg01.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}
.header {
	height: 355px;
	width: 1780px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 65px;
	padding-bottom: 50px;
}
.dateBox {
	display: block;
	float: left;
	height: 150px;
	width: 350px;
	font-size: 64px;
	text-align: center;
	line-height: 140%;
	font-weight: bold;
	margin-left: 20px;
	margin-top: 210px;
}
.dateBox span {
	font-size: 38px;
	line-height: 110%;
}
.infoBox {
	height: 255px;
	width: 620px;
	text-align: left;
	margin-top: 100px;
	font-size: 30px;
	line-height: 150%;
	float: right;
	margin-right: 10px;
}
.scheduleBox {
	height: 255px;
	width: 620px;
	text-align: left;
	padding-left: 450px;
	margin-top: 100px;
	font-size: 30px;
	line-height: 150%;
}
table.week {
	clear: both;
	width: 1780px;
	margin-right: auto;
	margin-left: auto;
	border: 5px solid #645f59;
	border-collapse:separate;
	border-radius: 15px;        /* CSS3草案 */
	-webkit-border-radius: 15px;    /* Safari,Google Chrome用 */
	-moz-border-radius: 15px;   /* Firefox用 */
	background-color: #ffffff;
	line-height: 100%;
	border-spacing:0;
	box-shadow:3px 9px 13px -9px #92804b;
-moz-box-shadow:3px 9px 13px -9px #92804b;
-webkit-box-shadow:3px 9px 13px -9px #92804b;
}
table.week td.top {
	height: 40px;
	text-align: center;
	vertical-align: middle;
	font-size: 30px;
	color: #423f36;
	padding-top: 7px;
	padding-bottom: 5px;
	border-bottom-width: 2px;
	background-image: url(../img/top_bg.gif);
	background-repeat: no-repeat;
	background-position: center top;
}
table.week td.topRight {
    border-top-right-radius: 12px;        /* CSS3草案 */
	-webkit-border-top-right-radius: 12px;    /* Safari,Google Chrome用 */
	-moz-border-top-right-radius: 12px;   /* Firefox用 */
}
table.week th.top {
	border-bottom-width: 2px;
	background-image: url(../img/top_bg.gif);
	background-repeat: no-repeat;
	background-position: center top;
	border-top-left-radius: 12px;        /* CSS3草案 */
	-webkit-border-top-left-radius: 12px;    /* Safari,Google Chrome用 */
	-moz-border-top-left-radius: 12px;   /* Firefox用 */
}
table.week th {
	width: 137px;
	height: 20px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #645f59;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #645f59;
	line-height: 100%;
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 20px;
	color: #423f36;
}
table.week td {
	width: 505px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #645f59;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #645f59;
	padding:5px 15px;
	font-size: 20px;
	font-weight: bold;
	line-height: 100%;
}
table.week tr.holiday {
	background-color: #ffd3c6;
}
table.week th.btmLeft {
    border-bottom-left-radius: 12px;        /* CSS3草案 */
	-webkit-border-bottom-left-radius: 12px;    /* Safari,Google Chrome用 */
	-moz-border-bottom-left-radius: 12px;   /* Firefox用 */
}
table.week td.btmRight {
    border-bottom-right-radius: 12px;        /* CSS3草案 */
	-webkit-border-bottom-right-radius: 12px;    /* Safari,Google Chrome用 */
	-moz-border-bottom-right-radius: 12px;   /* Firefox用 */
}

table.week td span {
    padding-left: 0.7em;
    display: inline-block;
    margin: 3px 3px;
}
span.type01 {
	color: #DC3620;
}
span.type02 {
	color: #BC762A;
}
span.type03 {
	color: #339966;
}
span.type04 {
	color: #447EC1;
}
span.type05 {
	color: #FF6C92;
}
table.week th.calendar_day_6 {
  color: #447EC1;
}
table.week th.calendar_day_0 {
  color: #DC3620;
}