@charset "UTF-8";
/* CSS Document */

/* Reset */

body, div, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ul, ol, li, 
brockquote, pre, table, caption, th, td, address, 
form, fieldset, legend, object {
  margin: 0;
  padding: 0;
}

h5, h6, pre, table, code, kbd, samp, acronym, input, textarea {
  font-size: 100%;
}

a, ins {
  text-decoration: none;
}

address, em, cite, dfn, var {
  font-style: normal;
}

input, textarea {
  font-family: sans-serif;
  font-weight: normal;
}

img {
	vertical-align: bottom;
}

a img {
  border: none;
}
.clearfix:after {
  content: ".";  /* 新しい要素を作る */
  display: block;  /* ブロックレベル要素に */
  clear: both;
  height: 0;
  visibility: hidden;
  font-size: 0.1em;
}

.clearfix {
  min-height: 1px;
}

* html .clearfix {
  height: 1px;
  /*¥*//*/
  height: auto;
  overflow: hidden;
  /**/
}body {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 13px;
	line-height: 150%;
	color: #333;
}
.wrapper {
	clear: both;
	height: 1080px;
	width: 1920px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../img/ib_welcomebg00.gif);
	background-repeat: no-repeat;
	background-position: center center;
}
.header {
	height: 90px;
	width: 1580px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 125px;
	font-size: 62px;
	line-height: 100%;
	font-weight: bold;
	display: table;
	padding-bottom: 100px;
}
.header p {
	text-align: left;
	vertical-align: middle;
	display: table-cell;
}
ul.company {
	clear: both;
	width: 1450px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 30px;
}
ul.company li {
	font-size: 68px;
	list-style-type: none;
        font-weight: bold;
	padding-top: 8px;
	padding-bottom: 8px;
	line-height: 150%;
}

span.type01 {
	color: #DC3620;
}
span.type02 {
	color: #BC762A;
}
span.type03 {
	color: #339966;
}
span.type04 {
	color: #447EC1;
}
span.type05 {
	color: #FF6C92;
}
