<% if @schedule.visitor_body.present? -%>
  <div class='inf-container'>
    <div class='visitor_body'>
      <%= @schedule.try(:visitor_title) %><br />
      <span><%= simple_format(h(@schedule.visitor_body)) %></span>
    </div>
  </div>
<% end -%>

