<h1><%= @beginning_of_month.month %>月のスケジュール一覧</h1>
<%= button_tag '表示切り替え', id: 'switch_inf' %>
<%= link_to '前月',"/schedules?date=#{@beginning_of_month.prev_month}" %>
<%= link_to '今月',"/schedules?date=#{Date.today}" %>
<%= link_to '次月',"/schedules?date=#{@beginning_of_month.next_month}" %>
<p>日付をクリックし、入力画面より入力してください。</p>
        
<table class='schedule_list'>
  <tr>
    <th class='date'>日付</th>
    <th class='holiday'>休日</th>
    <th class='head_1'>第一工場</th>
    <th class='head_2'>第二工場</th>
    <th class='notes'>備考</th>
  </tr>
  <% (@beginning_of_month..@end_of_month).each do |date| %>
    <% @schedule = @schedules.select{|schedule| schedule.date == date}.first %>
    <tr>
      <td class='date'><%= link_to l(date, format: :day), "/schedules/new?date=#{date}" %></td>
      <td class='holiday'><%= Schedule::DATE_TYPE[0] if get_date_type(date)  == 0 %></td>
      <% Schedule::CONTENTS.each do |content| -%>
        <td>
          <% if @schedule.present? %>
            <% if content =~ /process/ %>
              <% if content =~ /f1/ -%>
                <%= render partial: 'plan' %>
              <% else -%>
                <%= render partial: 'visitors' %>
              <% end -%>
            <% end -%>
            <div class='plan-container'>
            <% (1..5).each do |i| -%>
              <% plan = get_plan(content, i) -%>
              <% plan_color = get_plan_color(content, i) -%>
              <% if plan -%>
                <% klass = content =~ /process/ ? 'plan' : '' -%>
                <%= content_tag(:span, plan, class: [plan_color, klass].join(' ')) %>
              <% end -%>
            <% end -%>
            </div>
          <% end -%>
        </td>
      <% end-%>
  <% end -%>
</table>
