<%= form_for(@schedule, url: schedules_path, multipart: true, method: :post, ) do |f| %>
  <div class='head'>
    <div class='date'><h2><%= params[:date] %></h2></div>
    <div class='top'>
      <%= link_to '一覧へ戻る', "/schedules/?date=#{params[:date]}" %>
    </div>    
  </div>  
  <br style='clear: both' />
  <%= hidden_field_tag 'schedule[date]', params[:date] %>
  <div class="cont">
    <h3>平日・休日の設定<div class='date_type'><%= select_tag "schedule[date_type]", options_for_select(Schedule::DATE_TYPE.map{|k,v| [v,k]}, @schedule.date_type) %></div></h3>
    <div id="notice">
      <div class='field'>
        <div class='center'>お知らせ&nbsp;<span class='type01' id='notice_error'></span></div>
        <%= text_area_tag 'notice[body]', @notice.body, {rows: 5, cols: 90} %>
      </div>
    </div>
    <div id="plan">
      <div class='field'>
        <div class='center'>本日の予定&nbsp;<span class='type01' id='schedule_error'></span></div>
        <%= text_area_tag 'schedule[body]', @schedule.body, {rows: 5, cols: 90} %>
      </div>
    </div>
  </div>
  <% (1..3).each do |i| %>
    <% if i != 3 %>
      <div class="factory_<%= i %>">
        <div class='center'>第<%= cycle('一','二') %>工場</div>
      <% else -%>
        <div class="notes">
          <div class='center'>備考</div>
    <% end -%>
    <table>
      <tr>
        <th class='left plan'>タイトル</th>
        <th>文字色</th>
      </tr>
      <% (1..5).each do |j| %>
        <tr>
          <% if i != 3 %>
            <td><%= text_field_tag "schedule[f#{i}_process_#{j}]", eval("@schedule.f#{i}_process_#{j}"),size: 70 %></td>
            <td><%= select_tag "schedule[f#{i}_process_color_#{j}]", options_for_select(Schedule::COLORS.map{|k,v| [v,k]}, eval("@schedule.f#{i}_process_color_#{j}")) %></td>
          <% else -%>
            <td><%= text_field_tag "schedule[note_#{j}]", eval("@schedule.note_#{j}"), size: 70 %></td>
            <td><%= select_tag "schedule[note_color_#{j}]", options_for_select(Schedule::COLORS.map{|k,v| [v,k]}, eval("@schedule.note_color_#{j}"))  %></td>
          <% end -%>
        </tr>
      <% end -%><%#= j each end %>
    </table>
    </div>
  <% end -%><%#= i each end %>
  <div class="cont">
    <h3 class="red">来客メッセージの設定</h3>    
    <div class='visitors'>
      <div class='visitor_title'>
        <h4 class='v_title'>来客用タイトル</h4>
        <div><%= text_field_tag 'schedule[visitor_title]', @visitor_title, size: 58 %></div>
      </div>
      <div class="visitor_template">
        <h4 class='v_temp'>来客用背景画像</h4>
        <div><%= select_tag 'schedule[visitor_template]', options_for_select(select_templates,@schedule.visitor_template) %></div>
      </div>
      <table>
        <tr>
          <th class='left'>ご来訪者様&nbsp;<span class='type01' id='visitor_error'></span></th>
        </tr>
        <tr>

          <td><%= text_area_tag 'schedule[visitor_body]', @schedule.visitor_body, {rows: 5, cols: 90} %></td>
        </tr>
        
      </table>
    </div>
    <div class='images'>
      <ul>
        <li><h4 class="images_title">▼予定表イメージ</h4><img src="/img/index_img.jpg"/></li>
        <li><h4 class="images_title">▼来訪者のお知らせイメージ</h4><img src="/img/news_img.jpg"/></li>
      </ul>
    </div>
  </div>  
  <br style='clear: both' />
  <hr />
  <div class='submit'>
    <%= submit_tag '決定' %>
  </div>
<% end -%>
