<div class="header clearfix">
  <% if @schedule.present? && @schedule.visitor_body.present? %>
    <p><%= @schedule.visitor_title %></p>
  <% else -%>
    <p>ようこそ株式会社アイビーへ</p>
  <% end -%>
  <!-- class "header" -->
</div>
<div>
  <% if @schedule.present? && @schedule.visitor_body %>
    <ul class="company">
      <li><%= simple_format(h(@schedule.visitor_body)) %></li>
    </ul>
  <% end %>
</div>
<style type="text/css" media="screen">
  .wrapper {
  background-image: url("/img/visitor/<%= select_templates.include?(@schedule.try(:visitor_template)) ? @schedule.try(:visitor_template) : "0デフォルト画像.jpg" %>")
  }
</style>
