<div class="header clearfix">
  <div class="dateBox">
    <span><%= @today.year %>年</span><br />
    <%= l(@today, format: :schedule) %>
  </div>
  <div class="infoBox">
    <% if @schedule.present?  %>
      <%= simple_format(h(@schedule.body)) %>
    <% else -%>
      本日の予定はありません
    <% end -%>
  </div>
  <div class="scheduleBox">
    <% if @notice.present? %>
      <%= simple_format(h(@notice.body)) %>
    <% else -%>
      本日のお知らせはありません
    <% end -%>
  </div>
  <!-- class "header" -->
</div>
<%= schedule_calendar(2) %>
