// Place all the styles related to the schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #f2ebdd
}
div.main-container {
  width: 100%;
  div.main {
    width: 90%;
    margin: 0 auto;
  }
}
div#notice {
  width: 47%;
  background: #E2DCC7;
  border-radius: 2px;
  height: auto;
  padding: 10px;
  vertical-align:top;
  margin:15px auto;
  display:inline-block;
}
div#plan {
  width: 47%;
  background: #E2DCC7;
  border-radius: 2px;
  height: auto;
  padding: 10px;
  vertical-align:top;
  margin:15px auto;
  display:inline-block;
}
div.factory_1 {
  width: 31%;
  background: #B4DCE9;
  border-radius: 2px;
  height: auto;

  padding: 10px;
  vertical-align:top;
  margin:15px auto;
  display:inline-block;
}

div.factory_2 {
    width: 31%;
    background: #B4DCE9;
    border-radius: 2px;
    height: auto;
    display:inline-block;
    padding: 10px;
    vertical-align:top;
    margin:15px auto;
}
div.notes {
  width: 31%;
   background: #AFE9D5;
    border-radius:2px;
    height: auto;
    display:inline-block;
    padding: 10px;
    vertical-align:top;
    margin:15px auto;
    display:inline-block;
}

div.visitors {
  width: 47%;
  background: #FFDCB9;
  border-radius: 6px;
  height: auto;
  margin:15px auto;
  padding: 10px;
  vertical-align:top;
  display: inline-block;
}

div.visitor_title {
  padding-right: 10px;
  float: left;
}

div.images {
	 width: 47%;
	 border-radius: 6px;
    height: auto;
    margin:15px auto;
    padding: 10px;
	vertical-align:top;
display:inline-block;

}

div.images ul{
text-align:left;	
padding-left:0px;
}

div.images ul li{
width:45%;	
display:inline-block;

}

div.images ul li img{
max-width:100%;
margin:10px;	
 max-height: 150px;

}

.images .center {
    font-size: 120%;
    font-weight: bold;
    background: #E1AA42;
    margin: 5px 0 10px;
    border-radius: 5px;
    color: #fff;
}


#notice .center {
    font-size: 120%;
    font-weight: bold;
    background: #E1AA42;
    margin: 5px 0 10px;
    border-radius: 5px;
    color: #fff;
}

#plan .center {
    font-size: 120%;
    font-weight: bold;
    background: #E1AA42;
    margin: 5px 0 10px;
    border-radius: 5px;
    color: #fff;
}

div.factory_1 .center {
    font-size: 120%;
    font-weight: bold;
    background: #44C0DF;
    margin: 5px 0 10px;
    border-radius: 5px;
    color: #fff;
 }

div.factory_2 .center {
   
    font-size: 120%;
    font-weight: bold;
    background: #44C0DF;
    margin: 5px 0 10px;
    border-radius: 5px;
    color: #fff;
}

.notes .center {

    font-size: 120%;
    font-weight: bold;
    background: #12C791;
    margin: 5px 0 10px;
    border-radius: 5px;
    color: #fff;
 }

.visitors .center {
   font-size: 120%;
    font-weight: bold;
    background: #FFAF60;
    margin: 5px 0 10px;
    border-radius: 5px;
    color: #fff;
 }



.left {
  text-align: left;
}
.center {
  text-align: center;
}
table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
table.schedule_list tr {
  border-bottom: 1px black solid;
}
table.schedule_list tr td {
  padding-top: 3px;  
}

table.schedule_list th.date,td.date {
  width: 4%;
  text-align: center;
}
table.schedule_list th.holiday,td.holiday {
  width: 3%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

table.schedule_list th.head_1,th.head_2,th.notes {
  width: 30%;
}

div.submit {
  text-align: center;
  //  width: 100%;
  //  height: 100%;
}

div.submit input {
    width: 200px;
    height: 50px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 120%;
    background: #eee;
    border-bottom: 5px solid #bbb;
}
div.submit input:hover {
  border-bottom: 2px solid #bbb;
  margin-top:3px;
}

span.type01 {
  color: #DC3620;
}
span.type02 {
  color: #BC762A;
}
span.type03 {
  color: #339966;
}
span.type04 {
  color: #447EC1;
}
span.type05 {
  color: #FF6C92;
}
div.head {
  margin-top: 10px;
  vertical-align: middle;
}
div.date {
  float: left;
  vertical-align: middle;
}
h2 {
  margin: 0px;
  padding: 0px;
}
div.date_types {
  vertical-align: middle;
}

div.inf-container {
  display: none;
  width: 98%;
  background-color: #FFE3E3;
  /* padding: 3px; */
  word-break: break-all;
  border-radius: 5px;
  margin: auto;
}

// 2016年4月22日 added
/**********************************2016.04.22追加部分************************************/

*{font-family:'ヒラギノ角ゴ Pro W3','メイリオ','ＭＳ Ｐゴシック','Osaka','Meiryo',sans-serif;}

h1{
  background: #F46060;
  font-size: 110%;
  padding: 5px 7px;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  border: 2px solid #fff;
}

h2{
  background: #F46060;
  font-size: 110%;
  padding: 5px 7px;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  border: 2px solid #fff;
}

button{
  background: #3AA5ED;
  padding: 5px;
  border: 2px solid #fff;
  color: #fff;
  font-weight: bold;
  border-bottom: 3px solid #ccc;
}

button:hover{
  background:#fff ;
  border: 2px solid #3AA5ED;
  color: #3AA5ED;
  
  border-bottom: 3px solid #3AA5ED;
  
}

a{
  background: #fff;
  border: #2296D6 solid 3px;
  padding: 0px 10px;
  color: #2296D6;
  font-weight: bold;
  margin: 0 5px;
  text-decoration: none;

}

a:hover{
  background: #FFE3E3;

}

.schedule_list{
  background:#fff;
  margin:15px auto;
  border-collapse:collapse!important;
}

.schedule_list th{
  background: #00B2B2!important;
  color: #fff;
  border: 1px solid #eee;

}

.schedule_list td{
  border: 1px solid #aaa;
  padding:5px;
}

.schedule_list td a{
  border: none;
  font-size: 90%!important;
  margin: 0px;
  color: #333;
  background: #D6EFF8;
  padding: 1px 4px;
  border-radius: 5px;
  border-bottom:3px solid #ccc;
  display:block;
}

.schedule_list td a:hover{
  background: #F8E2F1;
  border-bottom:1px #ccc solid;
  margin-top:2px;
  display:block;
}

.visitors_body p{
  margin:5px 0px;	
}

.type00{
  display:inline-block;
} 

/*入力画面*/

body {
  background-color: #f2ebdd;
  padding: 0px!important;
  margin: 0px!important;

}

#header{
  height:60px;
  width:100%;
  background:url(/img/ib_title.jpg) no-repeat left;
  background-color:#fff;	
}

.date_type{
  margin:5px 15px;
  display: inline-block;	
}

#schedule_date_type{
  font-size: 100%;
  border: 2px #ccc solid;
  border-radius: 2px;
  font-weight: bold;
}

.cont{
  clear:both;
  margin:15px auto;
  text-align:left;	
}

.factory_1 th ,.factory_2 th , .notes th{
  text-align:left;	
}

h3{
  background:url(/img/ring_blue.png) no-repeat left;
  padding:5px 0 3px 20px;
  margin:5px 0 0px;	
  text-align:left;	
}

.red{
  background:url(/img/ring_blue.png) no-repeat left;

}

.field{
  text-align:left;	
}

textarea,input{
  border:2px solid #bbb;
  border-radius:2px;

}

textarea{
  
  max-width: 98%;
 
}

input{
  border: 2px solid #bbb;
  border-radius: 2px;
  width: 97%;	
}

select{
  background:#FBEDFC;
  font-weight:bold;
}

h4{
  margin: 0px 5px 0px 0px;
  padding:5px 0 3px 20px;		
  display: inline-block;
}

.v_title{
  background:url(/img/delta_blue.png) no-repeat left;
}

.v_temp{
  background:url(/img/delta_green.png) no-repeat left;
}

.cont table{

}

.cont table td{
  max-width:70%;	
}

.top{
  padding-top: 10px;	
}

th.plan{
  width: 83%;
}