<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>株式会社アイビー</title>
    <% if params[:controller] =~ /welcome/ %>
      <link href="/css/welcome.css" rel="stylesheet" type="text/css" />
    <% else -%>
      <link href="/css/stylesheet.css" rel="stylesheet" type="text/css" />
    <% end -%>
    <script language='javascript'>
      function tm() {
        tm = setInterval("location.reload()",60000);
      }
    </script>
  </head>

  <body onLoad="tm()">
    <a id="top"></a>
    <div class="wrapper">
      <%= yield %>
    </div>
  </body>
</html>
